/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
*.idea
*.iml
Gemfile.lock
/spec/bootpay/request_rest_billing_key_spec.rb
/spec/bootpay/__stage_test_unit_spec.rb
.DS_Store